In [1]:
import pandas as pd
import numpy as np
import requests
from io import StringIO
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder

# 1Ô∏è‚É£ GitHubÏóêÏÑú CSV Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/main/titanic.csv"
response = requests.get(url)
data = StringIO(response.text)

# 2Ô∏è‚É£ Îç∞Ïù¥ÌÑ∞ Î°úÎìú Î∞è ÌôïÏù∏
df = pd.read_csv(data)

display(df)  # Îç∞Ïù¥ÌÑ∞ ÏùºÎ∂Ä Ï∂úÎ†•
print(df.columns)  # Ïª¨ÎüºÎ™Ö ÌôïÏù∏

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [2]:
#Í≤∞Ï∏°Ïπò ÌôïÏù∏
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
#Cabin Ïª¨ÎüºÏùÄ ÏÇ≠Ï†ú (drop ÏÇ¨Ïö©)
#Í≤∞Ï∏°ÏπòÍ∞Ä 687Í∞ú(ÎßéÏùå) -> Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ÏÖãÏùò Ï†àÎ∞ò Ïù¥ÏÉÅÏù¥ ÎπÑÏñ¥ ÏûàÏùå ‚Üí ÏÇ≠Ï†úÌïòÎäî Í≤å ÎÇòÏùå.
df.drop(columns=["Cabin"], inplace=True)  # Cabin Ïª¨Îüº ÏÇ≠Ï†ú

#Embarked Ïª¨ÎüºÏùÄ Í≤∞Ï∏°Ïπò ÏûàÎäî ÌñâÎßå ÏÇ≠Ï†ú (dropna(subset=[]) ÏÇ¨Ïö©)
#Í≤∞Ï∏°ÏπòÍ∞Ä 2Í∞ú(Ï†ÅÏùå) -> Í≤∞Ï∏°Ïπò ÏûàÎäî ÌñâÎßå ÏÇ≠Ï†úÌï¥ÎèÑ Îç∞Ïù¥ÌÑ∞ ÏÜêÏã§Ïù¥ Í±∞Ïùò ÏóÜÏùå.
df.dropna(subset=["Embarked"], inplace=True)  # Embarked Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ìñâ ÏÇ≠Ï†ú

#Age Ïª¨ÎüºÏùÄ ÌèâÍ∑†Í∞íÏúºÎ°ú Ï±ÑÏö∞Í∏∞ (fillna(df["Age"].mean()) ÏÇ¨Ïö©)
#Í≤∞Ï∏°ÏπòÍ∞Ä 177Í∞ú(ÎßéÏßÄÎßå Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïóê ÎπÑÌï¥ Ï†ÅÎãπÌï®) -> ÌñâÏùÑ ÏÇ≠Ï†úÌïòÎ©¥ ÏÜêÏã§Ïù¥ ÌÅ¨ÎØÄÎ°ú, ÌèâÍ∑†Í∞íÏúºÎ°ú Ï±ÑÏö∞Îäî Í≤å Ï¢ãÏùå.
#df["Age"].fillna(df["Age"].mean(), inplace=True)  # AgeÏùò Í≤∞Ï∏°ÏπòÎäî ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥
df["Age"] = df["Age"].fillna(df["Age"].mean()) 
# Í≤∞Ï∏°ÏπòÍ∞Ä Ï†úÎåÄÎ°ú Ï≤òÎ¶¨ÎêêÎäîÏßÄ ÌôïÏù∏
print(df.isnull().sum())  # Î™®Îì† Í≤∞Ï∏°ÏπòÍ∞Ä ÏÇ¨ÎùºÏ°åÎäîÏßÄ ÌôïÏù∏

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [4]:
# Survived Ïª¨Îüº(Î†àÏù¥Î∏î)Ïùò Í∞Å ÌÅ¥ÎûòÏä§ Î∂ÑÌè¨ ÌôïÏù∏
survived_counts = df['Survived'].value_counts()
print(survived_counts)

Survived
0    549
1    340
Name: count, dtype: int64

In [5]:
# Survived ÏòàÏ∏°Ïóê ÌïÑÏöî ÏóÜÎäî Ïª¨Îüº Ï†úÍ±∞
df.drop(columns=["PassengerId", "Name", "Ticket", "Fare", "Embarked"], inplace=True)

# Ïª¨Îüº ÏÇ≠Ï†ú ÌõÑ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
display(df)  # Î≥ÄÍ≤ΩÎêú Îç∞Ïù¥ÌÑ∞ÏÖã ÌôïÏù∏
print(df['Sex'].value_counts()) # Sex Ïª¨Îüº Î∂ÑÌè¨ ÌôïÏù∏

     Survived  Pclass     Sex        Age  SibSp  Parch
0           0       3    male  22.000000      1      0
1           1       1  female  38.000000      1      0
2           1       3  female  26.000000      0      0
3           1       1  female  35.000000      1      0
4           0       3    male  35.000000      0      0
..        ...     ...     ...        ...    ...    ...
886         0       2    male  27.000000      0      0
887         1       1  female  19.000000      0      0
888         0       3  female  29.642093      1      2
889         1       1    male  26.000000      0      0
890         0       3    male  32.000000      0      0

[889 rows x 6 columns]

Sex
male      577
female    312
Name: count, dtype: int64

In [6]:
# Îç∞Ïù¥ÌÑ∞ Î°úÎìú (Ïù¥Ï†Ñ Ï†ÑÏ≤òÎ¶¨Îêú Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïö©)
# LabelEncoder Í∞ùÏ≤¥ ÏÉùÏÑ±
encoder = LabelEncoder()
# 'Sex' Ïª¨ÎüºÏùÑ Ïà´ÏûêÎ°ú Î≥ÄÌôò (male=1, female=0 ÏûêÎèô Ìï†ÎãπÎê®)
#  map()ÏúºÎ°úÎèÑ Í∞ÄÎä•. -> ÏßÅÏ†ë Ïà´Ïûê Ìï†Îãπ Í∞ÄÎä•.
df['Sex'] = encoder.fit_transform(df['Sex'])
print(df['Sex'].value_counts())
display(df)

Sex
1    577
0    312
Name: count, dtype: int64

     Survived  Pclass  Sex        Age  SibSp  Parch
0           0       3    1  22.000000      1      0
1           1       1    0  38.000000      1      0
2           1       3    0  26.000000      0      0
3           1       1    0  35.000000      1      0
4           0       3    1  35.000000      0      0
..        ...     ...  ...        ...    ...    ...
886         0       2    1  27.000000      0      0
887         1       1    0  19.000000      0      0
888         0       3    0  29.642093      1      2
889         1       1    1  26.000000      0      0
890         0       3    1  32.000000      0      0

[889 rows x 6 columns]

In [7]:
# 2Ô∏è‚É£ Î†àÏù¥Î∏î(y)Í≥º ÌäπÏßï(X) ÏÑ§Ï†ï
X = df.drop(columns=["Survived"])  # ÌäπÏßï Îç∞Ïù¥ÌÑ∞ (Survived Ï†úÏô∏)
y = df["Survived"]  # Î†àÏù¥Î∏î (ÏÉùÏ°¥ Ïó¨Î∂Ä)

# 3Ô∏è‚É£ ÌõàÎ†® Îç∞Ïù¥ÌÑ∞ÏôÄ ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú Î∂ÑÌï† (8:2 ÎπÑÏú®)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
# üéØ (1) Decision Tree
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)  # ÌïôÏäµ
y_pred_dt = dt_model.predict(X_test)  # ÏòàÏ∏°
dt_acc = accuracy_score(y_test, y_pred_dt)  # Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
print(f"Decision Tree Accuracy: {dt_acc:.4f}")

Decision Tree Accuracy: 0.8146

In [9]:
# üéØ (2) Random Forest
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)
rf_acc = accuracy_score(y_test, y_pred_rf)
print(f"Random Forest Accuracy: {rf_acc:.4f}")

Random Forest Accuracy: 0.8146

In [10]:
# üéØ (3) SVM
svm_model = SVC()
svm_model.fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)
svm_acc = accuracy_score(y_test, y_pred_svm)
print(f"SVM Accuracy: {svm_acc:.4f}")

SVM Accuracy: 0.6404

In [11]:
# üéØ (4) Logistic Regression
lr_model = LogisticRegression(max_iter=10000)  # Î∞òÎ≥µ ÌöüÏàò Ï¶ùÍ∞Ä
lr_model.fit(X_train, y_train)
y_pred_lr = lr_model.predict(X_test)
lr_acc = accuracy_score(y_test, y_pred_lr)
print(f"Logistic Regression Accuracy: {lr_acc:.4f}")

Logistic Regression Accuracy: 0.7921

In [12]:
# üéØ (5) KNN
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, y_train)
y_pred_knn = knn_model.predict(X_test)
accuracy_knn = accuracy_score(y_test, y_pred_knn)
print(f"KNN Accuracy: {accuracy_knn:.4f}")

KNN Accuracy: 0.7528